---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Goals | Christopher Pombo" description="Christopher Pombo's near, far, and stacked rocks.">
  <h1>Goals</h1>
</BaseLayout>
